<form action="/book/create" method="POST">
  <div class="form-group">
    <label>What is the book's title?</label>
    <textarea class="form-control" rows="1" name="title"></textarea>
  </div>
  <div class="form-group">
    <label>Who is the book's author?</label>
    <textarea class="form-control" rows="1" name="author"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>